
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.mt-3 {
  margin-top: 0.85rem;
}


.btn-guardar-custom:disabled {
  background-color: #00b875 !important; /* Mismo verde oscuro habilitado */
  color: white !important;
  opacity: 1 !important;
  cursor: not-allowed;
}