<div class="pagination-container">
  <div class="pagination-info">
    <span>Mostrando {{ getStartRecord() }}-{{ getEndRecord() }} de {{ totalRecords }} registros</span>
  </div>
  
  <div class="pagination-actions">
    <button class="btn-page btn-nav" (click)="prevPage()" [disabled]="currentPage === 1">
      Anterior
    </button>
    
    <ng-container *ngFor="let page of getVisiblePages()">
      <button 
        *ngIf="page !== '...'"
        class="btn-page btn-number"
        [class.active]="page === currentPage"
        (click)="goToPage(page)"
      >
        {{ page }}
      </button>
      <span *ngIf="page === '...'" class="pagination-ellipsis">...</span>
    </ng-container>
    
    <button class="btn-page btn-nav" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente
    </button>
  </div>
</div>