<app-header></app-header>
  <div class="capacidad-container">
  <header class="header">
  <h1>Gestión de Capacidades</h1>
  <p>Administración de capacidades de SIM</p>
  </header>
 <div class="capacidad-actions">
 <input class="search" type="text" placeholder="Buscar capacidad..."
    [(ngModel)]="searchText" />
    <button class="btn-agregar" (click)="abrirModal()">➕ Agregar Capacidad</button>
</div>
    <table>
      <thead>
 <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Acción</th>
      </tr>
  </thead>
     <tbody>
       <tr *ngFor="let cap of capacidades | filter:searchText:['descripcion']; let i = index">
       <td>{{ i + 1 }}</td>
       <td>{{ cap.descripcion }}</td>
        <td class="actions">
            <button class="edit" (click)="editarCapacidad(cap)">✏️</button>
            <button class="delete" (click)="eliminarCapacidad(cap.id_capacidad)">🗑️</button>
       </td>
   </tr>
 </tbody>
     </table>
</div>
<div class="modal-overlay" *ngIf="modalAbierto">
    <div class="modal">
    <div class="modal-header">
    <span class="icon">📦</span>
      <h2>{{ capacidadEditando ? 'Editar Capacidad' : 'Nueva Capacidad' }}</h2>
  </div>
       <form class="modal-body">
       <div class="form-group full">
       <input type="text" placeholder="Descripción"
            [(ngModel)]="nuevaCapacidad.descripcion" name="descripcion" />
      </div>
       </form>
       <div class="modal-footer">
       <button type="button" class="btn-guardar" (click)="guardarCapacidad()">Guardar</button>
        <button type="button" class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
    
    </div>
 </div>
</div>
